nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    @media all and (max-width: 870px){
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    li {
        background-color: gainsboro;
        width: 200px;
        height: 150px;
        flex-shrink: 0;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:nth-child(odd):hover::after{
            top: 0;
        }

        &:nth-child(even):hover::after{
            top: 0;
        }

        &:nth-child(odd)::after{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -100%;
            height: 100%;
            background-color: rgba(128, 128, 128, 0.9);
            transition: top 500ms;
            color: white;
            pointer-events: none;
        }        

        &:nth-child(even)::after{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: 100%;
            background-color: rgba(128, 128, 128, 0.9);
            transition: top 500ms;
            color: white;
            pointer-events: none;
        }

        &:nth-child(1)::after{
            content: "Add/Update/Delete members";
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
        }

        &:nth-child(2)::after{
            content: "Add/Update/Delete book";
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        } 
        
        &:nth-child(3)::after{
            content: "Issue books to bembers";
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        } 
        
        &:nth-child(4)::after{
            content: "Handle when books are returned";
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }             

        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.3rem;
            color: black;
            height: 100%;
            text-decoration: none;
            justify-content: space-around;

            ion-icon{
                font-size: 5rem;
                padding: 10px;
            }

            div{
                padding: 15px;
            }
        }
    }
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    border-top: 1px solid lightgray;
    font-size: 0.9rem;

    @media all and (max-width: 870px){
        margin-top: 10px;
        position: relative;
    }
}